* {
  font-family: '微軟正黑體', serif;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #e6e6e6;
}

#buy-list {
  display: block;
  background-color: #ffffff;
  color: #fff;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  padding-bottom: 1px;

  .top-box {
    padding: 60px 40px 80px 40px;
    background-color: #e8e8ea;
    border-radius: 8px 8px 0 0;
    position: relative;
    width: 500px;
    // height: 250px;
    background-image: url(../images/banner_bg.jpg);
    overflow: hidden;
    text-align: center;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 0.8;
      background-image: linear-gradient(to bottom, #517bdf, #8e54e9);
    }

    .icon {
      display: inline-block;
      z-index: 2;

      i.fas {
        font-size: 40px;
      }
    }

    h1 {
      font-family: 'Roboto';
      text-transform: uppercase;
      font-weight: 500;
      z-index: 2;
      margin: 10px auto 0 auto;
      font-size: 36px;
      letter-spacing: 1px;
    }

    p {
      font-family: 'Roboto';
      letter-spacing: 1px;
      color: #e4e4e4;
      z-index: 2;
      font-size: 14px;
      font-weight: 300;
      margin-top: 10px;
    }
  }

  .content {
    padding: 20px 30px;
    width: 450px;
    margin: 0 auto 40px auto;
    margin-top: -50px;
    background-color: #d6ccff;
    border-radius: 8px;

    #title-area {
      padding: 0;
      border: 0;
      background-color: transparent;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .group {
        width: 40%;
      }

      input {
        width: 100%;
        padding: 15px 20px;
        border: 1px solid #eeeeee;
        border-radius: 3px;

        &:focus {
          outline: none;
          transition: all 0.3s ease-in-out;
          border-color: #6e41ff;
        }
      }

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #cccccc;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #cccccc;
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        color: #cccccc;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: #cccccc;
      }

      .add-btn {
        cursor: pointer;
        width: 49px;
        height: 49px;
        text-align: center;
        border-radius: 3px;
        background-color: #8863ff;
        border: 2px solid #8863ff;
        line-height: 49px;

        &:hover {
          background-color: #5635c5;
          border: 2px solid #5635c5;
          color: #fff;

          i.fas {
            color: #d6ccff;
          }
        }

        i.fas {
          font-size: 20px;
        }
      }
    }

    #items-list {
      margin-top: 30px;
      padding: 0px;
    }

    .buy-item {
      padding: 15px 20px;
      list-style: none;
      border: 1px solid #a3ebff;
      background-color: #517bdf;
      margin-top: 10px;
      font-weight: 900;
    }

    .buy-item.total {
      margin-bottom: 30px;
      border: 1px solid #8863ff;
      background-color: #8863ff;
    }

    .price {
      font-family: 'Roboto';
      font-weight: normal;
      display: inline-block;
      position: absolute;
      padding-left: 8px;
      padding-right: 8px;
      right: 110px;

      &:before {
        content: '$';
        margin-right: 3px;
      }
    }

    .del-btn {
      font-family: 'Roboto';
      font-weight: normal;
      letter-spacing: 0.6px;
      display: inline-block;
      position: absolute;
      padding: 3px 10px;
      right: 20px;
      cursor: pointer;
      width: 80px;
      background-color: #dc3545;
      border-radius: 6px;
      text-align: center;
      font-size: 12px;
      user-select: none;

      &:hover {
        background-color: #9e212d;
      }
    }
  }
}
